@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
}

.page-content-height {
  min-height: 100vh;
}

.content-padding {
  padding-left: 3rem;
  padding-right: 3rem;
}

.grt-sct-certificate{
  opacity: 0;
}
.grt-sct-certificate-transition{
  opacity: 1;
}

@media (min-width: 1200px) {
  .content-padding {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@keyframes ease-enter {
	0% {
		opacity: 0%;
	}
}

@media (prefers-reduced-motion: no-preference) {
  .wipe-enter-animated {
    animation: wipe-enter 1s 1;
  }
  .grt-sct-certificate {
    transition: opacity 1.5s ease;
    transition-delay: 0.5s;
  }
}